#
#  .gitignore for swmm-python repo
#

.DS_Store
.*
!.gitignore
!.gitmodules

*.pyc

_skbuild/
_cmake_test_compile

dist/
MANIFEST
.pytest_cache/
__pycache__/
*.egg-info/

swmm-toolkit/docs/_build

swmm-toolkit/tests/data/*
!test_*.*
